@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter";
}

.navbar .active {
  font-weight: 500;
}

.navbar .btn-demo {
  background-color: #ffff;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 4px rgba(160, 160, 160, 0.2);
          box-shadow: 0px 3px 4px rgba(160, 160, 160, 0.2);
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F6FAFD), to(#FFFF));
  background-image: linear-gradient(#F6FAFD, #FFFF);
  margin-top: -85px;
  padding-top: 150px;
}

header h1 {
  font-size: 56px;
  font-weight: bold;
}

header p {
  font-size: 16px;
  font-weight: 400px;
  color: #4B5D68;
}

header .btn-learn-more {
  border-radius: 30px;
  color: white;
  background-color: #9C69E2;
}

header .btn-learn-more:hover {
  color: white;
  background-color: #c1a0f0;
}

.about {
  margin-top: 130px;
}

.about .row {
  border-radius: 50px;
  background-color: #FDE8F4;
}

.about .about-desc h1 {
  font-weight: bold;
}

.about .about-desc p {
  font-weight: 400;
  color: #4B5D68;
}

.features {
  margin-top: 120px;
  position: relative;
}

.features h1 {
  font-weight: bold;
}

.features p {
  margin-top: 30px;
  font-weight: 400;
  color: #4B5D68;
}

.features .illustration img {
  margin-top: 100px;
  position: relative;
  z-index: 101;
}

.features .card-feature-1 {
  width: 358px;
  height: 358px;
  background-color: #F0FAF8;
  border-radius: 0 30px 30px 0;
  position: relative;
  left: -50px;
}

.features .card-feature-1 .clearfix {
  padding-top: 40px;
  padding-left: 75px;
  padding-right: 35px;
}

.features .card-feature-1 .card-title {
  font-size: 22px;
}

.features .card-feature-1 .card-text {
  font-size: 14px;
}

.features .card-feature-1::before {
  content: '';
  position: relative;
  left: -50px;
  bottom: 0;
  width: 40%;
  height: 100%;
  background-color: #F0FAF8;
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
  border-radius: 30px;
  z-index: -1;
}

.features .card-feature-2 {
  width: 358px;
  height: 358px;
  background-color: #F5F0FC;
  border-radius: 0 30px 30px 0;
  position: relative;
  left: -50px;
}

.features .card-feature-2 .clearfix {
  padding-top: 40px;
  padding-left: 75px;
  padding-right: 35px;
}

.features .card-feature-2 .card-title {
  font-size: 22px;
}

.features .card-feature-2 .card-text {
  font-size: 14px;
}

.features .card-feature-2::before {
  content: '';
  position: relative;
  left: -50px;
  bottom: 0;
  width: 40%;
  height: 100%;
  background-color: #F5F0FC;
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
  border-radius: 30px;
  z-index: -1;
}

.features .card-feature-3 {
  width: 358px;
  height: 358px;
  background-color: #FDEFF8;
  border-radius: 0 30px 30px 0;
  position: relative;
  left: -50px;
}

.features .card-feature-3 .clearfix {
  padding-top: 40px;
  padding-left: 75px;
  padding-right: 35px;
}

.features .card-feature-3 .card-title {
  font-size: 22px;
}

.features .card-feature-3 .card-text {
  font-size: 14px;
}

.features .card-feature-3::before {
  content: '';
  position: relative;
  left: -50px;
  bottom: 0;
  width: 40%;
  height: 100%;
  background-color: #FDEFF8;
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
  border-radius: 30px;
  z-index: -1;
}

.features .card-feature-4 {
  width: 358px;
  height: 358px;
  background-color: #EAF5FB;
  border-radius: 0 30px 30px 0;
  position: relative;
  left: -50px;
}

.features .card-feature-4 .clearfix {
  padding-top: 40px;
  padding-left: 75px;
  padding-right: 35px;
}

.features .card-feature-4 .card-title {
  font-size: 22px;
}

.features .card-feature-4 .card-text {
  font-size: 14px;
}

.features .card-feature-4::before {
  content: '';
  position: relative;
  left: -50px;
  bottom: 0;
  width: 40%;
  height: 100%;
  background-color: #EAF5FB;
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
  border-radius: 30px;
  z-index: -1;
}

.testimonial {
  margin-top: 150px;
}

.testimonial .testi-background {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #9C69E2;
  border-radius: 45px;
  position: relative;
}

.testimonial .testi-background h1 {
  font-weight: bold;
  color: #ffff;
}

.testimonial .testi-background .card {
  border: 1px solid #9C69E2;
  padding: 25px;
  margin-right: 10px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 15px 0px rgba(246, 240, 253, 0.2);
          box-shadow: 0px 15px 0px rgba(246, 240, 253, 0.2);
}

.testimonial .testi-background .card .name {
  font-size: 18px;
  font-weight: 600;
}

.testimonial .testi-background .card .work {
  margin-top: -10px;
  color: #9C69E2;
  font-size: 14px;
}

.testimonial .testi-background .card p {
  color: #4b5D68;
  font-size: 18px;
}

.testimonial .owl-carousel {
  margin-top: 50px;
}

.testimonial .owl-carousel .owl-stage-outer {
  padding-bottom: 30px;
}

.testimonial .owl-carousel .owl-dots {
  margin-bottom: 30px;
  position: relative;
  top: -20px;
  line-height: 10px;
}

.testimonial .owl-carousel .owl-dots button.owl-dot.active {
  position: relative;
  top: 1px;
}

.testimonial .owl-carousel .owl-dots button.owl-dot.active span {
  width: 7px;
  height: 7px;
  background-color: #F063B8;
}

.testimonial .owl-carousel .owl-dots button.owl-dot span {
  width: 5px;
  height: 5px;
}

.divider {
  padding-top: 100px;
  border-bottom: 0.5px solid #b7aac9;
}

footer .try-for-free h1 {
  font-size: 40px;
  font-weight: bold;
}

footer .try-for-free p {
  font-size: 18px;
  font-weight: 500;
}

footer .try-for-free .btn-demo {
  background-color: #ffff;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 4px rgba(160, 160, 160, 0.2);
          box-shadow: 0px 3px 4px rgba(160, 160, 160, 0.2);
}

footer .try-for-free .btn-learn-more {
  border-radius: 30px;
  color: white;
  background-color: #F603B8;
}

footer .try-for-free .btn-learn-more:hover {
  color: white;
  background-color: #f783da;
}

footer .title-footer {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 500;
}

footer .menu-footer p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
}

footer .menu-footer li {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}

footer .menu-footer li a {
  color: #212353;
}

footer .social-media .facebook {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #E9E9EE;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .social-media .facebook a {
  color: #ffff;
}

footer .social-media .facebook:hover {
  background-color: #9b9b9b;
}

footer .social-media .twitter {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #E9E9EE;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .social-media .twitter a {
  color: #ffff;
}

footer .social-media .twitter:hover {
  background-color: #9b9b9b;
}

footer .social-media .instagram {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #E9E9EE;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .social-media .instagram a {
  color: #ffff;
}

footer .social-media .instagram:hover {
  background-color: #9b9b9b;
}

footer .icon-message {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #EBE1F9;
  text-align: center;
}

@media (min-width: 0px) {
  .feature-1 {
    display: inline-block;
  }
  .feature-1 .illustration {
    margin-top: -50px;
    position: static;
  }
  .feature-2 {
    display: inline-block;
  }
  .feature-2 .illustration {
    margin-top: -50px;
    position: static;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .feature-1 .illustration {
    width: 50%;
  }
  .feature-2 .illustration {
    width: 50%;
  }
  .testimonial .testi-background {
    padding-left: 100px;
    padding-right: 40px;
  }
}
/*# sourceMappingURL=style.css.map */