body{
    font-family: "Poppins";
}

.navbar{
    .active{
        font-weight: 500;
    }

    .btn-demo{
        background-color: #ffff;
        border-radius: 25px;
        box-shadow: 0px 3px 4px rgba(160, 160, 160, 0.2);

    }
}

header{

    background-image: linear-gradient(#F6FAFD, #FFFF);
    margin-top: -50px;
    padding-top: 150px;
    h1{
        font-size: 56px;
        font-weight: bold;
    }

    p{
        font-size: 16px;
        font-weight: 400px;
        color: #4B5D68;
    }

    .btn-learn-more{
        border-radius: 30px;
        color: white;
        background-color: #9C69E2;
        &:hover{
        color: white;
        background-color: #c1a0f0;
        }
    }
}